//==============================================================================
// Palette of colours available to every SASS file.
// The palette() function can be used to retrieve color values using their name.
//==============================================================================


// Base
$_base-colors: (
  gray: (
    white:           #fff,
    light-1:         #fefefe,
    light-2:         #efebe9,
    gray-1:          #dbdbdb,
    gray-2:          #ccccc2,
    gray-3:          #7f7d6e,
    gray-4:          #4a4a4a,
    gray-5:          #383838,
    base:            #5c5c5c,
    black:           #333,
  ),

  blue: (
    base:             #0277bd,
    medium:           #448aff,
    light-1:          #1d96b8,
    light-2:          #80cbc4,
    light-3:          #b3e5fc,
    light-4:          #e0f6fe
  ),
  yellow: (
    base:             #ffd500,
    light-1:          #fdfdf4,
    light-2:          #efefe6,
    light-3:          #ffe082,
    medium-1:         #ffd500,
    medium-2:         #ffdb29,

  ),

  pink: (
    base:             #ffab91,
  ),

  footer: (
    social:           #454545,
    legal:            #3f4040,
  )
);

// Theme
$_theme-colors: (
  app: (
    primary:         map-get(map-get($_base-colors, yellow), light-1),

    text-primary:    map-get(map-get($_base-colors, gray), base),
    text-secondary:  map-get(map-get($_base-colors, blue), medium),
    text-light:      map-get(map-get($_base-colors, gray), white),

    drawer-content-bg: map-get(map-get($_base-colors, yellow), light-2),
  )
);

$app-colors: map-merge($_base-colors, $_theme-colors);



// Get a color from the $app-colors palette defined in _colors.scss
//
// @param {String} $palette
// @param {String} $tone
//
// @example scss - Usage
//   color: palette(social, gplus);
//
// @example css - CSS Output
//   color: #dc4437;
//
// @return {String}
//
@function palette($palette, $tone) {
  @return map-get(map-get($app-colors, $palette), $tone);
}
