
header {
  display: flex;

  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;

  padding: rem(30) 0;

}

.logo {
  flex: auto;
}

.links__wrapper {
  flex: auto;

  margin-left: auto;

}
