
nav
  ul.navigation
    li.navigation__link.
      <a href="#" title="home">Home</a>
    li.navigation__link.
      <a href="#" title="philosophy">Philosophy</a>
    li.navigation__link.
      <a href="#" title="the team">The Team</a>
    li.navigation__link.
      <a href="#" title="social">Social</a>
    li.navigation__link.
      <a href="#" title="contact">Contact</a>
