
.social

  a(class='social__icon twitter' href='https://twitter title=twitter')

    include ../../../_images/social/twitter.svg

  a(class='social__icon facebook' href='https://facebook title=facebook')

    include ../../../_images/social/facebook.svg

  a(class='social__icon instagram' href='https://facebook title=facebook')

    include ../../../_images/social/instagram.svg

