extends _layouts/base

include _modules/link/link

block content
  .container

    //- #[+header()]

    //  Header
    include _modules/header/header

    // Carousel
    //- include _modules/carousel/carousel
